pipeline/pl11_empty_table.json
{
	"name": "pl11_empty_table",
	"properties": {
		"activities": [
			{
				"name": "get_Emp_data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "db108lgEmp",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "get_Emp_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('get_Emp_data').output,'firstRow')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "True",
								"value": {
									"value": "@activity('get_Emp_data').output.firstRow.EmpName",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"True": {
				"type": "String"
			},
			"fasle": {
				"type": "String"
			}
		},
		"annotations": []
	}
}