pipeline/pl14_load_csvSheets_dynamic.json
{
	"name": "pl14_load_csvSheets_dynamic",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"activities": [
						{
							"name": "Set tempCounter",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "tempCounter",
								"value": {
									"value": "@add(int(variables('counter')),1)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set tempCounter",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "excel_product",
									"type": "DatasetReference",
									"parameters": {
										"sheetIndex": {
											"value": "@variables('tempCounter')",
											"type": "Expression"
										}
									}
								}
							]
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"counter": {
				"type": "Integer",
				"defaultValue": 0
			},
			"isError": {
				"type": "Boolean"
			},
			"tempCounter": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}